In [23]:
import pandas as pd
import numpy as np

In [29]:
brand = pd.read_csv("brand_category.csv")
cat = pd.read_csv("categories.csv")
offer = pd.read_csv("offer_retailer.csv")

### Data Preprocessing

In [30]:
brand.head()

              BRAND BRAND_BELONGS_TO_CATEGORY  RECEIPTS
0  CASEYS GEN STORE          Tobacco Products   2950931
1  CASEYS GEN STORE                    Mature   2859240
2            EQUATE              Hair Removal    893268
3         PALMOLIVE               Bath & Body    542562
4              DAWN               Bath & Body    301844

In [31]:
cat.head()

,CATEGORY_ID,PRODUCT_CATEGORY,IS_CHILD_CATEGORY_TO
0,1f7d2fa7-a1d7-4969-aaf4-1244f232c175,Red Pasta Sauce,Pasta Sauce
1,3e48a9b3-1ab2-4f2d-867d-4a30828afeab,Alfredo & White Pasta Sauce,Pasta Sauce
2,09f3decc-aa93-460d-936c-0ddf06b055a3,Cooking & Baking,Pantry
3,12a89b18-4c01-4048-94b2-0705e0a45f6b,Packaged Seafood,Pantry
4,2caa015a-ca32-4456-a086-621446238783,Feminine Hygeine,Health & Wellness

In [32]:
offer.head()

,OFFER,RETAILER,BRAND
0,Spend $50 on a Full-Priced new Club Membership,SAMS CLUB,SAMS CLUB
1,"Beyond Meat® Plant-Based products, spend $25",NaN,BEYOND MEAT
2,Good Humor Viennetta Frozen Vanilla Cake,NaN,GOOD HUMOR
3,"Butterball, select varieties, spend $10 at Dillons Food Store",DILLONS FOOD STORE,BUTTERBALL
4,"GATORADE® Fast Twitch®, 12-ounce 12 pack, at Amazon Storefront*",AMAZON,GATORADE

#### rename dataset

In [33]:
brand = brand.rename(columns = {'BRAND_BELONGS_TO_CATEGORY':'child_category','BRAND':'brand'})
cat = cat.rename(columns = {'PRODUCT_CATEGORY':'child_category','IS_CHILD_CATEGORY_TO':'parent category'})
offer = offer.rename(columns = {'OFFER':'offer','RETAILER':'retailer','BRAND':'brand'})

#### merge three dataset

In [34]:
data = pd.merge(left=brand, right=cat,how="right",on="child_category")

In [35]:
data = pd.merge(left=data, right=offer,how="left",on="brand")

In [36]:
data = data.drop(['RECEIPTS', 'CATEGORY_ID'], axis=1)

#### deal with nan value

In [37]:
data.isnull().sum()

brand                  1
child_category         0
parent category        0
offer               9600
retailer           10023
dtype: int64

In [25]:
data = data.fillna('')

#### convert all text data to lowercase

In [26]:
data = data.apply(lambda x: x.astype(str).str.lower())

In [12]:
data

,brand,child_category,parent category,offer,retailer
0,prego,red pasta sauce,pasta sauce,,
1,ragu,red pasta sauce,pasta sauce,,
2,classico,red pasta sauce,pasta sauce,,
3,heb,red pasta sauce,pasta sauce,,
4,barilla,red pasta sauce,pasta sauce,barilla® pesto sauce,
...,...,...,...,...,...
10371,altoids,gum,candy,,
10372,freedent,gum,candy,,
10373,starburst,gum,candy,"starburst®, select sizes, buy 1",
10374,starburst,gum,candy,"starburst®, select varieties",
10375,mentos,gum,candy,,

#### save and output clean data

In [27]:
output_file = 'output.xlsx'
data.to_excel(output_file, index=False)